fastapi
uvicorn
python-multipart
pydantic-settings
langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-huggingface
langgraph
chromadb
sentence-transformers
pymupdf
python-dotenv
